@keyframes wobbling
  0%
    transform: translate(-50%, -50%) rotate(-1deg)

  50%
    transform: translate(-50%, -50%) rotate(0deg) scale(1.02)

  100%
    transform: translate(-50%, -50%) rotate(1deg)

$bounce: -0.1vw

@keyframes shake-level-top
  0%
    top: $bounce

  100%
    top: 0

@keyframes shake-level-left
  0%
    left: $bounce

  100%
    left: 0

@keyframes shake-level-right
  0%
    right: $bounce

  100%
    right: 0

@keyframes shake-level-bottom
  0%
    bottom: $bounce

  100%
    bottom: 0

@keyframes level-appear
  0%
    top: -100vh

  100%
    top: 0

@keyframes level-disappear
  0%
    top: 0

  100%
    top: 100vh

@keyframes play-button-disappear
  0%
    top: 50%

  100%
    top: 150%

@keyframes atom-appear
  0%
    filter: brightness(6400%) blur(32px)

  100%
    filter: brightness(100%) blur(0)

@keyframes atom-flash
  0%
    filter: brightness(100%) blur(0)

  25%
    filter: brightness(6400%) blur(32px)

  100%
    filter: brightness(100%) blur(0)

@keyframes atom-dispose
  0%
    opacity: 1.0
    filter: brightness(100%) blur(0)

  100%
    opacity: 0.0
    filter: brightness(6400%) blur(32px)

@keyframes title-gradient
  0%
    background-position-y: 0

  100%
    background-position-y: 10000%