@keyframes atom-dispose
  0%
    opacity: 1.0
    filter: brightness(100%) blur(0)

  100%
    opacity: 0.0
    filter: brightness(6400%) blur(32px)

@keyframes title-gradient
  0%
    background-position-y: 0

  100%
    background-position-y: 10000%