@import common

$panel-color: #202020
$gap: 0.25vw

main
  width: 100%
  height: 100%
  display: grid
  grid-template: 1fr 1fr / 33vw 1fr
  grid-auto-rows: minmax(min-content, max-content)
  gap: $gap
  align-items: center
  justify-content: center
  font-family: 'PressStart2P', sans-serif

  h1, h2, h3
    margin: 0
    padding: 0

  h1
    background: linear-gradient(orange, yellow, green, cyan, blue, violet)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-transform: uppercase
    font-size: 3.5vw

  h2
    background: linear-gradient(white, #AAA)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-transform: uppercase
    font-size: 1.5vw

  h3
    text-transform: uppercase
    font-size: 1vw

  div.info
    grid-area: 1 / 1
    background-color: $panel-color
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border-radius: 0 0 $gap 0

    section
      display: flex
      flex-direction: column
      row-gap: 2vw

      .status
        display: grid
        grid-template: min-content / 9vw 1fr
        row-gap: 1vw

  div.play-field
    grid-area: 1 / 2 / 3 / 3
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    font-size: calc(var(--size) * 4)
    white-space: pre-line
    line-height: 0.6
    pointer-events: none
    background-color: $panel-color
    height: 100%

    div.canvas
      position: relative
      pointer-events: all
      box-shadow: 0 1vmin 1vmin 0 rgba(0, 0, 0, 0.4)

      canvas
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        position: absolute
        pointer-events: none


  div.preview
    grid-area: 2 / 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    row-gap: 1vw
    pointer-events: none
    background-color: $panel-color
    height: 100%
    border-radius: 0 $gap 0 0

  div.history
    top: 2vmin
    right: 2vmin
    position: absolute
    display: flex
    column-gap: 0.25vw

    button
      appearance: none
      outline: none
      border: none
      font-family: "Inter", sans-serif
      font-size: 1vw
      line-height: 1em
      margin: 0
      padding: 1vw
      border-radius: 1vw
      text-transform: uppercase
      color: rgba(white, 0.6)
      background-color: $panel-color
      box-shadow: 0 0 3vw 0 rgba(white, 0.2) inset

      &:active
        background-color: lighten($panel-color, 20)