@import common

main
  width: 100%
  height: 100%
  display: flex

  div.history
    top: 2vmin
    left: 2vmin
    position: absolute

  div.play-field
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    font-size: calc(var(--size) * 4)
    white-space: pre-line
    line-height: 0.6
    pointer-events: none

    canvas
      pointer-events: all
      background-color: #1A1A1A
      box-shadow: 0 1vmin 1vmin 0 rgba(0, 0, 0, 0.4)

  div.preview
    top: 50%
    right: 10vmin
    transform: translate(0, -50%)
    position: absolute
    pointer-events: none
    background-color: rgba(black, 0.4)
    border-radius: 8px
    padding: 16px